body{
	font-family: 'Montserrat', sans-serif;
	/*background-color: #42ada8;*/
}
#first{
	max-width:450px;
	width:45%;
	margin:50px auto;
	border:3px solid #3e8515;
	text-align:center;
	border-radius:5px;
	background-color: white;
}
.input_fields{
	padding:10px;
	width: 60%;
	margin:0px auto 10px auto;
	border-bottom:2px solid #59aad9;
	text-align: left;
}
.input_fields input{
	border-width: 0px;
	height: 18px;
    width: 80%;
}
.input_fields i{
	padding-right:15px;
}
}
#div2{
	width:65%;
	text-align: right;
	margin:0 auto 10px auto;
}
a{
	text-decoration: none;
	color: black;
}
#mdiv a{
		color:white;
}
#mdiv{
	background-color: #264fb5;
	width:60%;
	margin:0 auto 10px auto;
	padding: 10px 10px 10px 10px;
	border-radius:5px;
}
#div3{
	width:100%;
	margin:20px auto;
	text-align: center;
}
.ekline{
	text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: yellow;
    border-radius:50%;
}
#div2 a{
	font-size:13px;
}
#div3 i{
	color:white;
}
#ek{
	background-color: #1c85ba;
	padding-left:12px;
	padding-right: 12px;
}
#don{
	padding-left:15px;
	padding-right: 15px;
	background-color:#0f1569;
}
#tin{
	background-color:#c2371b;
}